{% for blog in blogs %}
<div class="articles">
    <h3>{{blog.title}}</h3>
    <p class="author_article">{{"blog.author"|trans}}: {{blog.user.name}} </p>
    <div class="text_article">
        <p class="last">{{blog.text|markdown}}</p>
        <a class="read_next" href="{{path('blog_view', {'slug': blog.slug})}}">{{"blog.read_more"|trans}}</a>
        <div class="clearer"></div>
    </div>
    <ul class="tag">  
        {% for tag in blog.tags %}
            <li><a href="{{path('blog_by_tag', {'slug': tag.slug})}}">{{tag.name}}</a></li>
        {% endfor %}
    </ul>
    <div class="comment">
        <div class="rating">
            <a href="#"class="minus"></a>
            <span id="likes{{blog.id}}">0</span>
            <a href="#" class="plus"></a>
        </div>
        <a href="{{url('blog_view', {'slug': blog.slug})}}#disqus_thread" data-disqus-identifier="{{blog.id}}">{#"blog.comments"|trans#}</a>
    </div>
</div>
{% endfor %}
<script type="text/javascript">
    $(document).ready(updateVotes);
</script>