<div class="block_profile">
    <ul class="way">
        <li><span>
            {% if own %}
                Ваши статьи
            {% else %}
                Статьи
            {% endif %}
        </span></li>
        <li>/</li>
        <li><a href="#">
            {% if own %}
                <a href="{{path('blog_create')}}">{{ 'blog.create.title'|trans}}</a>
            {% else %}
                Все Статьи
            {% endif %}
        </a></li>
    </ul>
    <div class="bl_prof_1">
    {% for blog in blogs %}
        <ul class="{{loop.last ? 'last' : ''}}">
            <li><span>{{blog.createdAt|date('d.m.Y')}}</span></li>
            <li><span>/</span></li>
            <li>
              <a href="{{path('blog_view', {'slug': blog.slug})}}">{{blog.title}}</a> 
              {% if own %}
                (<a href="{{path('blog_edit', {'id': blog.id})}}">{{ 'blog.edit.title'|trans}}</a>)
              {% endif %}
            </li>
        </ul>
    {% endfor %}
    </div>
</div>