<div class="block_profile">
    <ul class="way">
        <li><span>Ваши комментарии</span></li>
        <li>/</li>
        <li><a href="#">Все Ваши комментарии</a></li>
    </ul>
    <div class="bl_prof_1">
        <ul>
            <li><span>21 сентября 2011, 21:00</span></li>
            <li><span>/</span></li>	

            <li><a class="st" href="#">Интернет</a></li>
            <li><span><img alt="" src="{{asset('images/arrow2.png')}}" /></span></li>
            <li><a href="#">Каким почтовым клиентом веб интерфейсом вы пользуетесь?</a></li>
        </ul>
        <ul>
            <li><span>5 августа 2011, 22:10</span></li>
            <li><span>/</span></li>	
            <li><a class="st" href="#">Блог</a></li>
            <li><span><img alt="" src="{{asset('images/arrow2.png')}}" /></span></li>
            <li><a href="#">Бесконечная страница результатов поиска</a></li>
        </ul>
        <ul>
            <li><span>4 августа 2011, 13:44</span></li>
            <li><span>/</span></li>	
            <li><a class="st" href="#">Блог компании Амперка </a></li>
            <li><span><img alt="" src="{{asset('images/arrow2.png')}}" /></span></li>
            <li><a href="#">Обратная связь от сервопривода или «забиваем гвозди»</a></li>
        </ul>
        <ul>
            <li><span>3 апреля 2011, 22:10</span></li>
            <li><span>/</span></li>	
            <li><a class="st" href="#">Информационная безопасность</a></li>
            <li><span><img alt="" src="{{asset('images/arrow2.png')}}" /></span></li>
            <li><a href="#">Вводный видеокурс по информационной безопасности</a></li>
        </ul>

        <ul>
            <li><span>21 сентября 2011, 21:00</span></li>
            <li><span>/</span></li>	

            <li><a class="st" href="#">Интернет</a></li>
            <li><span><img alt="" src="{{asset('images/arrow2.png')}}" /></span></li>
            <li><a href="#">Каким почтовым клиентом веб интерфейсом вы пользуетесь?</a></li>
        </ul>
        <ul>
            <li><span>5 августа 2011, 22:10</span></li>
            <li><span>/</span></li>	
            <li><a class="st" href="#">Блог</a></li>
            <li><span><img alt="" src="{{asset('images/arrow2.png')}}" /></span></li>
            <li><a href="#">Бесконечная страница результатов поиска</a></li>
        </ul>
        <ul>
            <li><span>4 августа 2011, 13:44</span></li>
            <li><span>/</span></li>	
            <li><a class="st" href="#">Блог компании Амперка </a></li>
            <li><span><img alt="" src="{{asset('images/arrow2.png')}}" /></span></li>
            <li><a href="#">Обратная связь от сервопривода или «забиваем гвозди»</a></li>
        </ul>
        <ul class="last">
            <li><span>3 апреля 2011, 22:10</span></li>
            <li><span>/</span></li>	
            <li><a class="st" href="#">Информационная безопасность</a></li>
            <li><span><img alt="" src="{{asset('images/arrow2.png')}}" /></span></li>
            <li><a href="#">Вводный видеокурс по информационной безопасности</a></li>
        </ul>

    </div>
</div>
