{% extends '::layout.html.twig' %}

{% block title %}{{blog.title}}{% endblock %}
{% block description %}{{blog.shortText}}{% endblock %}
{% block keywords %}{{blog.keywords}}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://balupton.github.com/jquery-syntaxhighlighter/scripts/jquery.syntaxhighlighter.min.js"></script>
    <script type="text/javascript">$.SyntaxHighlighter.init({'theme': 'google', 'themes': ['google']});</script>
{% endblock %}

{% block body %}

<div class="articles line">
    <h3>{{blog.title}}</h3>
    <p class="author_article">{{"blog.author"|trans}}: {{blog.user.name}} </p>
    <div class="text_article no_line">
        <p><i>{{blog.shortText}}</i></p>
        <p>{{blog.text|markdown}}</p>
    </div>

    <div class="comment">
        <div class="rating">
            <a href="#"class="minus"></a>
            <span>135</span>
            <a href="#" class="plus"></a>
        </div>
    </div>  
</div>

{% render "SfbyBlogBundle:Default:blogComments" with {"blog": blog} %}


{% endblock %}
