<div class="header">
    <div class="top_nav">
        <div class="author">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{path('fos_user_profile_show')}}">{{ user.name }}</a>
                <a class="enter" href="{{path('fos_user_security_logout')}}"></a>
            {% else %}
                <a href="{{path('fos_user_security_login')}}">{{"header.login"|trans}}</a>
                <a href="{{path('fos_user_registration_register')}}">{{"header.register"|trans}}</a>
            {% endif %}
        </div>
        <ul>
            {% if app.session.locale=='ru' %}
                <li class="active"><span>{{"header.ru"|trans}}</span></li>
            {% else %}
                <li><a href="{{path('locale', {'_locale': 'ru'})}}">{{"header.ru"|trans}}</a></li>
            {% endif %}
                
            {% if app.session.locale=='en' %}
                <li class="active"><span>{{"header.en"|trans}}</span></li>
            {% else %}
                <li><a href="{{path('locale', {'_locale': 'en'})}}">{{"header.en"|trans}}</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="main_nav">
        <div class="logo">
            <a class="cufon" href="{{path('homepage')}}">{{"header.title"|trans}}</a>
            <a href="{{path('homepage')}}">Symfony Framework</a>
        </div>
        <ul>                                
            <li class="{{active=='blogs'?'active':''}}"><a href="{{path('blog_index')}}"><span>{{"topmenu.blog"|trans}}</span></a>
                <div class="submenu">
                    <ul>          
                        <li><a href="#">Все </a></li>
                        <li class="active"><a href="#">Программирование </a></li>
                        <li><a href="#">Оптимизация </a></li>
                    </ul>
                </div>
            </li>
            <li class="{{active=='people'?'active':''}}"><a href="#"><span>{{"topmenu.people"|trans}}</span></a></li>
            <li class="{{active=='forum'?'active':''}}"><a href="#"><span>{{"topmenu.forum"|trans}}</span></a></li>
        </ul>
        <div class="search">
            <input type="text" class="text" />
            <input type="submit" value="{{"header.search"|trans}}" class="submit" />
        </div>
    </div>

</div>