<h1 class="dotted">{{ 'profile.show.welcome'|trans({}, 'FOSUserBundle') }}, <strong>{{ user.name }}</strong></h1>
<div class="info_profile">
    <div class="profile_img">
        <img src="{{asset('images/prof.png')}}" alt="" />
    </div>
    <div class="description_profile">
        <ul>
            <li>{{ 'profile.show.created_at'|trans({}, 'FOSUserBundle') }}: <span>{{ user.createdAt|date('d.m.Y') }}</span></li>
            <li>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: <span>{{ user.username }}</span></li>
            <li>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: <span>{{ user.email }}</span></li>
        </ul>
    </div>
</div>

{% render "SfbyBlogBundle:Default:userBlogs" %}
{% render "SfbyBlogBundle:Default:userComments" %}
{% render "SfbyBlogBundle:Default:userRates" %}