{% extends 'form_div_layout.html.twig' %}


{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="errors">
        {% for error in errors %}
            <li>{{ error.messageTemplate|trans(error.messageParameters, 'FOSUserBundle') }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}    
    


{% block field_label %}
{% spaceless %}
    {% if required %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' required'}) %}
    {% endif %}
    <label for="{{id}}" {% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>{{ id|trans }}</label>
{% endspaceless %}
{% endblock field_label %}

    
    
{% block field_widget %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' errors'}) %}
    {% endif %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" />
{% endspaceless %}
{% endblock field_widget %}    
    

    
{% block field_row %}
{% spaceless %}
<div class="block">
    {{ form_errors(form) }}
    {{ form_label(form) }}
    {{ form_widget(form) }}
</div>
{% endspaceless %}
{% endblock field_row %}    
    
    
    
{% block checkbox_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' checkbox'}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock checkbox_widget %}    



{% block richtext_widget %}
  {% block javascripts_markItUp %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('js/markitup/skins/simple/style.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('js/markitup/sets/textile/style.css') }}" />
    <script type='text/javascript' src='{{ asset('js/markitup/jquery.markitup.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/markitup/sets/textile/set.js') }}'></script>
        <script type='text/javascript'>
          jQuery(document).ready(function() {
            $('#{{id}}').markItUp(mySettings);
          });
        </script>
  {% endblock %}
{% spaceless %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock richtext_widget %}