<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru"> 
  <head> 
    <title>{% block title %}Сообщество Symfony программистов в Беларуси{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="robots" content="index, follow" /> 
    <meta name="description" content="{% block description %}Сообщество Symfony программистов в Беларуси{% endblock %}" /> 
    <meta name="keywords" content="{% block keywords %}{% endblock %}symfony, project, framework, php, php5, open-source, mit, symphony" /> 
    <meta name="language" content="ru" /> 
    <meta name="author" content="{% block author %}{% endblock %}" />
    
    <meta property="og:title" content="Сообщество Symfony программистов в Беларуси"/>
    <meta property="og:type" content="non_profit"/>
    <meta property="og:url" content="http://symfony.by/"/>
    <meta property="og:image" content="http://symfony.com/logos/symfony_black_03.png"/>
    <meta property="og:site_name" content="SymfonyBy"/>
    <meta property="fb:admins" content="1558010138"/>
    <meta property="fb:app_id" content="236853723026563"/>
    <meta property="og:description" content="Сообщество Symfony программистов в Беларуси."/>
    <meta property="og:locality" content="Minsk"/>
    <meta property="og:postal-code" content="220000"/>
    <meta property="og:country-name" content="BLR"/>
    <meta property="og:language" content="ru"/>
    
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    {% block assets %}
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
        <!--[if IE 7]>
            <link rel="stylesheet" type="text/css" href="{{ asset('css/ie7.css') }}" />
        <![endif]-->
        <!--[if IE 8]>
            <link rel="stylesheet" type="text/css" href="{{ asset('css/ie8.css') }}" />
        <![endif]-->
        <!--[if IE 6]>
            <link rel="stylesheet" type="text/css" href="{{ asset('css/ie6.css') }}" />
        <![endif]-->
        <!--[if IE]>
		 <style type="text/css">
            .author{behavior:url("{{ asset('css/PIE.htc') }}");  border-radius: 2px 2px 0 0;}
            .cloud{behavior:url("{{ asset('css/PIE.htc') }}");  border-radius: 2px 2px 2px 2px;}
            .last_comment{behavior:url("{{ asset('css/PIE.htc') }}");  border-radius: 2px 2px 2px 2px;}
            .users{behavior:url("{{ asset('css/PIE.htc') }}");  border-radius: 2px 2px 2px 2px;}
            .info_profile .profile_img{behavior:url("{{ asset('css/PIE.htc') }}");  border-radius: 4px 4px 4px 4px;}
            .info_profile .profile_img img{behavior:url("{{ asset('css/PIE.htc') }}");  border-radius: 2px 2px 2px 2px;}
		 </style>
 	<![endif]-->
    {% endblock %}
    
    {% block javascripts %}
        <script type='text/javascript' src='{{ asset('js/jquery-1.6.4.min.js') }}'></script>
        <script type='text/javascript' src='{{ asset('js/cufon-yui.js') }}'></script>
        <script type='text/javascript' src='{{ asset('js/PT-Sans-Narrov_400-PT-Sans-Narrov_700-PT-Sans-Narrov_400-PT-Sans-Narrov_700.font.js') }}'></script>
        <script type='text/javascript' src='{{ asset('js/cufon-code.js') }}'></script>
        <script type='text/javascript' src='{{ asset('js/main.js') }}'></script>
    {% endblock %}
  </head> 
  <body class="lang_{{ app.session.locale=='ru_ru' ? 'ru' : 'en' }}">
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_public_key = "{{disqus_public_key}}";
            var disqus_shortname = 'symfonyby'; // required: replace example with your forum shortname
            var disqus_config = function () { 
                this.language = "{{ app.session.locale=='ru_ru' ? 'ru' : 'en' }}"; 
            };
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var s = document.createElement('script'); s.async = true;
                s.type = 'text/javascript';
                s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
                (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());
        </script>
        <div class="wrap_all">
            <div class="wrap">
                {% render "SfbyDefaultBundle:Default:header" with {"request": app.request} %}
                <div class="content">
                    <div class="to_left">
                    {% block body %}{% endblock %}
                    </div>
                    <div class="to_right">
                        {% render "SfbyBlogBundle:Default:tagCloud" %}
                        {% render "SfbyUserBundle:Default:newUsers" %}
                        {% render "SfbyBlogBundle:Default:lastComments" %}
                    </div>
                </div>
                <div class="clearer"></div>
            </div>
            <div class="pusher"></div>
        </div>
        {% render "SfbyDefaultBundle:Default:footer" %}
  </body>
</html>
