{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<div class="articles">
    <h3>Логин</h3>
    <div class="fb_login">{{ facebook_login_button({'label': 'security.login.submit'|trans({}, 'FOSUserBundle')}) }}</div>
    <div class="form">
        <form action="{{ path("fos_user_security_check") }}" method="POST">
            {% if error %}
                <ul class="errors"><li>{{ error|trans({}, 'FOSUserBundle') }}</li></ul>
            {% endif %}
            <div class="block">
                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>
            <div class="block">
                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input type="password" id="password" name="_password" />
            </div>
            <div class="block">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="checkbox" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
            </div>
            <div>
                <a href="{{path('homepage')}}" class="gray_submit"><span>{{ 'security.login.cancel'|trans({}, 'FOSUserBundle') }}</span></a>
                <span class="submit"><input type="submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"></span>
            </div>
        </form>
    </div>
   
  <div class="text_article no_line">
    <p>Забыли пароль? <a href="{{path('fos_user_resetting_request')}}">{{ "resetting.request.title"|trans({}, 'FOSUserBundle') }}</a></p>
  </div>
</div>    
    
{% endblock fos_user_content %}
