{% extends '::base.html.twig' %}
{% block title %}Edit{% endblock %}
{% block body %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}
        
    {% for e in error %}
        <li>{{ e.message }}</li>
    {% endfor %}

    <form action="{{ path('edit', {'id': product.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.category) }}

    {{ form_rest(form) }}

    <input type="submit" />  <a href="{{ path('list') }}">back</a>
</form>

{% endblock %}


{% block menu %}
    {% render "SfbyStaticBundle:Content:menu" with {'active': 'list'} %}
{% endblock %}    